In [1]:
import pandas as pd
from Funcoes_auxiliares.func_aux import *

In [2]:
df_2022 = pd.read_csv('SIM_DOFET\\SIM_DOFET_2022_sujo.csv', sep=';')

In [3]:
df_dofet_suja = pd.read_csv('base_suja\\base_sim_dofet_suja.csv')
for i in df_dofet_suja.columns:
    print(i)

data_obito
ano_obito
TIPOBITO
ocor_MUNNOMEX
res_MUNNOMEX
ocor_CAPITAL
res_CAPITAL
ocor_REGIAO
res_REGIAO
ocor_SIGLA_UF
res_SIGLA_UF
IDADEMAE
idademae_faixa
ESCMAE2010
escolaridade_mae
OBITOGRAV
GRAVIDEZ
tipo_gravidez
SEMAGESTAC
idade_gestacao_faixa
SEXO
def_sexo
PESO
peso_faixa
OBITOPARTO
def_obito_parto
CAUSABAS
causabas_capitulo
causabas_categoria
causabas_grupo
causabas_subcategoria
FLAG_BASE

In [4]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27394 entries, 0 to 27393
Data columns (total 99 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  27394 non-null  int64
 1   ORIGEM      27394 non-null  int64
 2   CODMUNCART  0 non-null      float64
 3   NUMREGCART  0 non-null      float64
 4   CODCART     0 non-null      float64
 5   DTREGCART   0 non-null      float64
 6   TIPOBITO    27394 non-null  int64
 7   DTOBITO     27394 non-null  int64
 8   HORAOBITO   25810 non-null  float64
 9   NATURAL     24131 non-null  float64
 10  CODMUNNATU  23868 non-null  float64
 11  DTNASC      0 non-null      float64
 12  IDADE       0 non-null      float64
 13  SEXO        27394 non-null  int64
 14  RACACOR     0 non-null      float64
 15  ESTCIV      4 non-null      float64
 16  ESC         0 non-null      float64
 17  ESC2010     0 non-null      float64
 18  SERIESCFAL  0 non-null      float64
 19  OCUP        0 non-null      float64
 20  CODMUNRES   27394 non-null  int64
 21  LOCOCOR     27394 non-null  int64
 22  CODESTAB    25868 non-null  float64
 23  ESTABDESCR  0 non-null      float64
 24  CODMUNOCOR  27394 non-null  int64
 25  IDADEMAE    25792 non-null  float64
 26  ESCMAE      25276 non-null  float64
 27  ESCMAE2010  25157 non-null  float64
 28  SERIESCMAE  9536 non-null   float64
 29  OCUPMAE     22554 non-null  float64
 30  QTDFILVIVO  25903 non-null  float64
 31  QTDFILMORT  25367 non-null  float64
 32  GRAVIDEZ    26808 non-null  float64
 33  SEMAGESTAC  26040 non-null  float64
 34  GESTACAO    26040 non-null  float64
 35  PARTO       26768 non-null  float64
 36  OBITOPARTO  26646 non-null  float64
 37  PESO        25931 non-null  float64
 38  TPMORTEOCO  1 non-null      float64
 39  OBITOGRAV   1 non-null      float64
 40  OBITOPUERP  1 non-null      float64
 41  ASSISTMED   16998 non-null  float64
 42  EXAME       52 non-null     float64
 43  CIRURGIA    48 non-null     float64
 44  NECROPSIA   18372 non-null  float64
 45  LINHAA      26225 non-null  object
 46  LINHAB      12154 non-null  object
 47  LINHAC      4583 non-null   object
 48  LINHAD      1659 non-null   object
 49  LINHAII     4065 non-null   object
 50  CAUSABAS    27394 non-null  object
 51  CB_PRE      0 non-null      float64
 52  MEDICO      0 non-null      float64
 53  COMUNSVOIM  3911 non-null   float64
 54  DTATESTADO  27351 non-null  float64
 55  CIRCOBITO   4 non-null      float64
 56  ACIDTRAB    1 non-null      float64
 57  FONTE       1 non-null      float64
 58  NUMEROLOTE  27377 non-null  float64
 59  TPPOS       20499 non-null  object
 60  DTINVESTIG  13174 non-null  float64
 61  LINHAA_O    0 non-null      float64
 62  LINHAB_O    0 non-null      float64
 63  LINHAC_O    0 non-null      float64
 64  LINHAD_O    0 non-null      float64
 65  LINHAII_O   0 non-null      float64
 66  CAUSABAS_O  27370 non-null  object
 67  DTCADASTRO  27387 non-null  float64
 68  ATESTANTE   25150 non-null  float64
 69  STCODIFICA  27392 non-null  object
 70  CODIFICADO  27394 non-null  object
 71  VERSAOSIST  27394 non-null  object
 72  VERSAOSCB   26354 non-null  float64
 73  FONTEINV    13229 non-null  float64
 74  DTRECEBIM   27365 non-null  float64
 75  ATESTADO    27386 non-null  object
 76  DTRECORIG   0 non-null      float64
 77  DTRECORIGA  27394 non-null  int64
 78  CAUSAMAT    0 non-null      float64
 79  ESCMAEAGR1  25157 non-null  float64
 80  ESCFALAGR1  0 non-null      float64
 81  STDOEPIDEM  27394 non-null  int64
 82  STDONOVA    27394 non-null  int64
 83  DIFDATA     27394 non-null  int64
 84  NUDIASOBCO  9 non-null      float64
 85  NUDIASOBIN  0 non-null      float64
 86  DTCADINV    0 non-null      float64
 87  TPOBITOCOR  0 non-null      float64
 88  DTCONINV    0 non-null      float64
 89  FONTES      22054 non-null  object
 90  TPRESGINFO  4 non-null      float64
 91  TPNIVELINV  9 non-null      object
 92  NUDIASINF   0 non-null      float64
 93  DTCADINF    22054 non-null  float64
 94  MORTEPARTO  22054 non-null  float64
 95  DTCONCASO   20589 non-null  float64
 96  FONTESINF   0 non-null      float64
 97  ALTCAUSA    21776 non-null  float64
 98  CONTADOR    27394 non-null  int64
dtypes: float64(72), int64(13), object(14)
memory usage: 20.7+ MB

In [5]:
df_2022 = df_2022[
    [
        'TIPOBITO'
        , 'IDADEMAE'
        , 'ESCMAE2010'
        , 'OBITOGRAV'
        , 'GRAVIDEZ'
        , 'SEMAGESTAC'
        , 'SEXO'
        , 'PESO'
        , 'OBITOPARTO'
        , 'CAUSABAS'
        , 'DTOBITO'
        , 'CODMUNRES'
        , 'CODMUNOCOR'
    ]
]

# Tratamentos

In [6]:
# pd.unique(df_2022['TIPOBITO']) # Somente 1 que representa obitos fetais
# df_2022['TIPOBITO'].isnull().sum() # Sem NA's
# Vari√°vel TIPOBITO - OK

In [7]:
#pd.unique(df_2022['ESCMAE2010'])
#df_2022['ESCMAE2010'].isnull().sum() # 2237 nulls
#df_2022['ESCMAE2010'] = [func_categorize_idademae(i) for i in df_2022['IDADEMAE']]
# Null = Ignorado

In [8]:
#pd.unique(df_2022['IDADEMAE'])
#df_2022['IDADEMAE'].isnull().sum() # 1602 nulls
df_2022['idademae_faixa'] = [func_categorize_escolmae(i) for i in df_2022['ESCMAE2010']]
# Null e 9 = Ignorado

In [9]:
#pd.unique(df_2022['OBITOGRAV'])
#df_2022['OBITOGRAV'].isnull().sum() # 27393 nulls
# 99,99 % nulo

In [10]:
#pd.unique(df_2022['GRAVIDEZ'])
#df_2022['GRAVIDEZ'].isnull().sum() # 586 nulls
df_2022['tipo_gravidez'] = [func_categorize_gravidez(i) for i in df_2022['GRAVIDEZ']]
# Null e 9 = Ignorado

In [11]:
#pd.unique(df_2022['SEMAGESTAC'])
#df_2022['SEMAGESTAC'].isnull().sum() # 1354 nulls
df_2022['idade_gestacao_faixa'] = [func_categorize_idade_gest(i) for i in df_2022['SEMAGESTAC']]
# Null e 99 = Ignorado

In [12]:
#pd.unique(df_2022['SEXO'])
#df_2022['SEXO'].isnull().sum() # sem nulls
# Remover 0

In [13]:
#pd.unique(df_2022['PESO'])
#df_2022['PESO'].isnull().sum() # 1463 nulls
df_2022['peso_faixa'] = [func_categorize_peso(i) for i in df_2022['PESO']]
# Null = Ignorado

In [14]:
#pd.unique(df_2022['OBITOPARTO'])
#df_2022['OBITOPARTO'].isnull().sum() # 748 nulls
# remover null e 9

In [15]:
#pd.unique(df_2022['CAUSABAS'])
df_2022['CAUSABAS'].isnull().sum() # 0 nulls

0

# Trazendo algumas imforma√ß√µes da PCDas

In [16]:
# ocor_MUNNOMEX,res_MUNNOMEX,ocor_CAPITAL,res_CAPITAL,ocor_REGIAO,res_REGIAO,ocor_SIGLA_UF,res_SIGLA_UF
sim_dofet_2019 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2019_t.csv')
sim_dofet_2020 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2020_t.csv')
sim_dofet_2021 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2021_t.csv')

sim_dofet_unif = pd.concat([sim_dofet_2019, sim_dofet_2020, sim_dofet_2021])

<ipython-input-16-4296af8f107a>:2: DtypeWarning: Columns (89,110,112,113,115,116,117) have mixed types. Specify dtype option on import or set low_memory=False.
  sim_dofet_2019 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2019_t.csv')
<ipython-input-16-4296af8f107a>:3: DtypeWarning: Columns (89,105,106,109,110,112,113,115,116,117) have mixed types. Specify dtype option on import or set low_memory=False.
  sim_dofet_2020 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2020_t.csv')
<ipython-input-16-4296af8f107a>:4: DtypeWarning: Columns (89,105,106,110,112,113,115,116,117) have mixed types. Specify dtype option on import or set low_memory=False.
  sim_dofet_2021 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2021_t.csv')

In [17]:
sim_dofet_res = sim_dofet_unif[
    [
        'CODMUNRES'
        , 'res_MUNNOMEX'
        , 'res_CAPITAL'
        , 'res_REGIAO'
        , 'res_SIGLA_UF'
    ]
].drop_duplicates()

sim_dofet_ocor = sim_dofet_unif[
    [
        'CODMUNOCOR'
        , 'ocor_MUNNOMEX'
        , 'ocor_CAPITAL'
        , 'ocor_REGIAO' 
        , 'ocor_SIGLA_UF'
    ]
].drop_duplicates()

In [18]:
len(df_2022)

27394

In [19]:
df_2022_merge = df_2022.merge(sim_dofet_ocor, how='left', on='CODMUNOCOR')

In [20]:
df_2022_merge = df_2022_merge.merge(sim_dofet_res, how='left', on='CODMUNRES')

In [21]:
df_2022_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27394 entries, 0 to 27393
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TIPOBITO              27394 non-null  int64
 1   IDADEMAE              25792 non-null  float64
 2   ESCMAE2010            25157 non-null  float64
 3   OBITOGRAV             1 non-null      float64
 4   GRAVIDEZ              26808 non-null  float64
 5   SEMAGESTAC            26040 non-null  float64
 6   SEXO                  27394 non-null  int64
 7   PESO                  25931 non-null  float64
 8   OBITOPARTO            26646 non-null  float64
 9   CAUSABAS              27394 non-null  object
 10  DTOBITO               27394 non-null  int64
 11  CODMUNRES             27394 non-null  int64
 12  CODMUNOCOR            27394 non-null  int64
 13  idademae_faixa        27394 non-null  object
 14  tipo_gravidez         27394 non-null  object
 15  idade_gestacao_faixa  27394 non-null  object
 16  peso_faixa            27394 non-null  object
 17  ocor_MUNNOMEX         27167 non-null  object
 18  ocor_CAPITAL          27167 non-null  object
 19  ocor_REGIAO           27167 non-null  object
 20  ocor_SIGLA_UF         27167 non-null  object
 21  res_MUNNOMEX          27161 non-null  object
 22  res_CAPITAL           27161 non-null  object
 23  res_REGIAO            27161 non-null  object
 24  res_SIGLA_UF          27161 non-null  object
dtypes: float64(7), int64(5), object(13)
memory usage: 5.4+ MB

In [22]:
sim_dofet_causa = sim_dofet_unif[
    [
        'CAUSABAS'
        , 'causabas_capitulo'
        , 'causabas_categoria'
        , 'causabas_grupo'
        , 'causabas_subcategoria'
                ]
].drop_duplicates()

In [23]:
len(sim_dofet_causa)

360

In [24]:
df_2022_merge = df_2022_merge.merge(sim_dofet_causa, how='left', on='CAUSABAS')

In [28]:
df_2022_merge['FLAG_BASE'] = 'SIM_DOFET'

In [38]:
def acerta_data(string):
    tam = len(string)
    if tam ==8:
        dt = f'{string[4:8]}-{string[2:4]}-{string[0:2]}'
        return dt
    elif tam == 7:
        dt = f'{string[3:7]}-{string[1:3]}-0{string[0]}'
        return dt
    else:
        None
        
    
df_2022_merge['data_obito'] = [acerta_data(str(i)) for i in df_2022_merge['DTOBITO']]

In [42]:
df_2022_merge['ano_obito'] = [i[0:4] for i in df_2022_merge['data_obito']]

In [43]:
df_2022_merge[['DTOBITO', 'data_obito', 'ano_obito']]

        DTOBITO  data_obito ano_obito
0      21012022  2022-01-21      2022
1      12032022  2022-03-12      2022
2      12052022  2022-05-12      2022
3      12052022  2022-05-12      2022
4      11052022  2022-05-11      2022
...         ...         ...       ...
27389  22082022  2022-08-22      2022
27390  22082022  2022-08-22      2022
27391   9112022  2022-11-09      2022
27392  21092022  2022-09-21      2022
27393   8082022  2022-08-08      2022

[27394 rows x 3 columns]

In [37]:
len(str(1092022))

7

In [ ]:
'data_obito', 'ano_obito', 'escolaridade_mae', 'def_sexo', 'def_obito_parto'

In [25]:
df_2022_merge.columns

Index(['TIPOBITO', 'IDADEMAE', 'ESCMAE2010', 'OBITOGRAV', 'GRAVIDEZ',
       'SEMAGESTAC', 'SEXO', 'PESO', 'OBITOPARTO', 'CAUSABAS', 'DTOBITO',
       'CODMUNRES', 'CODMUNOCOR', 'idademae_faixa', 'tipo_gravidez',
       'idade_gestacao_faixa', 'peso_faixa', 'ocor_MUNNOMEX', 'ocor_CAPITAL',
       'ocor_REGIAO', 'ocor_SIGLA_UF', 'res_MUNNOMEX', 'res_CAPITAL',
       'res_REGIAO', 'res_SIGLA_UF', 'causabas_capitulo', 'causabas_categoria',
       'causabas_grupo', 'causabas_subcategoria'],
      dtype='object')

In [26]:
df_dofet_suja.columns

Index(['data_obito', 'ano_obito', 'TIPOBITO', 'ocor_MUNNOMEX', 'res_MUNNOMEX',
       'ocor_CAPITAL', 'res_CAPITAL', 'ocor_REGIAO', 'res_REGIAO',
       'ocor_SIGLA_UF', 'res_SIGLA_UF', 'IDADEMAE', 'idademae_faixa',
       'ESCMAE2010', 'escolaridade_mae', 'OBITOGRAV', 'GRAVIDEZ',
       'tipo_gravidez', 'SEMAGESTAC', 'idade_gestacao_faixa', 'SEXO',
       'def_sexo', 'PESO', 'peso_faixa', 'OBITOPARTO', 'def_obito_parto',
       'CAUSABAS', 'causabas_capitulo', 'causabas_categoria', 'causabas_grupo',
       'causabas_subcategoria', 'FLAG_BASE'],
      dtype='object')

In [27]:
df_2022_merge_import = df_2022_merge[['data_obito', 'ano_obito', 'TIPOBITO', 'ocor_MUNNOMEX', 'res_MUNNOMEX',
       'ocor_CAPITAL', 'res_CAPITAL', 'ocor_REGIAO', 'res_REGIAO',
       'ocor_SIGLA_UF', 'res_SIGLA_UF', 'IDADEMAE', 'idademae_faixa',
       'ESCMAE2010', 'escolaridade_mae', 'OBITOGRAV', 'GRAVIDEZ',
       'tipo_gravidez', 'SEMAGESTAC', 'idade_gestacao_faixa', 'SEXO',
       'def_sexo', 'PESO', 'peso_faixa', 'OBITOPARTO', 'def_obito_parto',
       'CAUSABAS', 'causabas_capitulo', 'causabas_categoria', 'causabas_grupo',
       'causabas_subcategoria', 'FLAG_BASE']]

KeyError: "['data_obito', 'ano_obito', 'escolaridade_mae', 'def_sexo', 'def_obito_parto', 'FLAG_BASE'] not in index"

In [29]:
df_dofet_suja[['data_obito', 'ano_obito', 'escolaridade_mae', 'def_sexo', 'def_obito_parto', 'FLAG_BASE']]

,data_obito,ano_obito,escolaridade_mae,def_sexo,def_obito_parto,FLAG_BASE
0,2019-01-30,2019,Ensino_medio,Masculino,Antes,SIM_DOFET
1,2019-01-24,2019,Ignorado,Masculino,Antes,SIM_DOFET
2,2019-01-29,2019,Ignorado,Ignorado,Antes,SIM_DOFET
3,2019-01-25,2019,Fundamental,Masculino,Antes,SIM_DOFET
4,2019-02-14,2019,Ignorado,Masculino,Antes,SIM_DOFET
...,...,...,...,...,...,...
87418,2021-12-01,2021,Sem_escolaridade,Masculino,Antes,SIM_DOFET
87419,2021-11-08,2021,Fundamental,Feminino,Antes,SIM_DOFET
87420,2021-08-15,2021,Fundamental,Feminino,Durante,SIM_DOFET
87421,2021-09-20,2021,Ignorado,Feminino,Antes,SIM_DOFET
87422,2021-11-15,2021,Fundamental,Feminino,Antes,SIM_DOFET

In [31]:
df_dofet_suja['data_obito']

0        2019-01-30
1        2019-01-24
2        2019-01-29
3        2019-01-25
4        2019-02-14
            ...
87418    2021-12-01
87419    2021-11-08
87420    2021-08-15
87421    2021-09-20
87422    2021-11-15
Name: data_obito, Length: 87423, dtype: object